@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Raleway:wght@300&display=swap');

.nameBorder {
    width: 300px;
    border: 15px solid white;
    padding: 1rem;
    font-size: 3em;
    color: white;
    font-family: 'Quicksand', sans-serif;
  }

  .dimension {
    display: flex;
    align-items: center;
    border-radius: 4px;
    justify-content: center;
    margin-top: 3rem;
    max-width: 300px;
  }