

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color:  #F27D72;
    
  }
  .navbar-header {
    color: #091B40!important;
    margin: 0.1em;
    padding-right: .5em;
    padding-left: .3em;
    font-size: 2.5em;
    font-weight: 500!important;
    letter-spacing: 0.1em;
  }
  
  .navbar-link {
    margin: 0.1em;
    font-size: 1.75em;
    letter-spacing: 0.1em;
    text-indent: 0.3em;
    color: #091B40!important;
    font-weight: 500!important;
    padding: .5em;
  }
  
  .navbar-link:hover{
    transform: translateY(-2px);
    color: #f08080 !important;
  }
  
  .navbar-header:hover{
    transform: translateY(-2px);
    color: #f08080 !important;
  }
  
  /* nice blue color */
  /* color: #468499 !important; */